body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ececec;
    overflow: hidden;
}

header {
    margin-bottom: 10px;
    margin-top: -20px;
}

h1 {
    font-size: 30px;
    color: #000000;
    text-align: center;
    margin: 0;
}

#grid-container {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 0px;
    margin-bottom: 10px;
    border: 1.5px solid #4a4a4a;
}

.grid-cell {
    background-color: white;
    border: 1px solid #4a4a4a;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.color-picker-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* aligns the items to the start of the flex container */
}

.color-picker-container {
    display: flex;
    align-items: center;
    margin: 5px;
}

.color-picker-container label {
    margin-left: 10px;
}

button, .control-buttons button { /* Combined button styles */
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #a2a2a2;
    color: #000000;
    border-radius: 5px;
    transition: background-color 0.2s;
}

button:hover, .control-buttons button:hover { /* Combined hover styles */
    background-color: #ccc;
}

.control-buttons {
    display: flex;
    justify-content: center;
    gap: 8px; 
    margin: 5px 0; 
}